
<hgroup class="mb20" *ngIf="posts.length !== 0">
    <h1>Search Results</h1>
    <h2 class="lead"><strong class="text-danger">{{posts.length}}</strong> results were found.</h2>								
</hgroup>

<section class="col-xs-12 col-sm-6 col-md-12" *ngFor="let post of posts;">
    <article class="search-result row">
        <div class="col-xs-12 col-sm-12 col-md-3">
            {{post?.title}}			
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2">
            {{post?.wordcount}}'Words
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 desc">
            <span [innerHTML]="post?.snippet"></span>
            <span><a [href]="'https://en.wikipedia.org/?curid='+post?.pageid" style="font-weight: bold;"> ...</a></span>
        </div>
        <span class="clearfix borda"></span>
    </article>
</section>
    